Repository asabina-de/kb: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, markdown-link-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    # https://github.com/NixOS/nixfmt/blob/master/.pre-commit-hooks.yaml
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
  - repo: local
    # https://github.com/tcort/markdown-link-check/blob/master/.pre-commit-hooks.yaml
    hooks:
      - id: markdown-link-check
        name: markdown-link-check
        entry: markdown-link-check
        language: system
        files: \.md$

chore: bundle Python3 with devenv for pre-commit-hooks
  devenv.nix
Due: nixfmt

chore: install markdown-link-check the pre-commit way (not local)
  .pre-commit-config.yaml
Due: none

chore: abandon cabal and ghc install for nixfmt
  devenv.nix
Due: nixfmt

chore: setup local prettier git-commit-hook
  .pre-commit-config.yaml
Due: none

chore: drop complexity idiomatic pre-commit setup takes over
  devenv.nix
Due: nixfmt

doc: add context on local pre-commit use [ai:claude]
  .pre-commit-config.yaml
  README.md
Due: markdown-link-check

doc: add pre-commit setup recommendations [ai:claude]
  PROJECT_SETUP_GUIDE.md
  devenv.nix
  templates/README.md
Due: nixfmt, markdown-link-check

feat: use status log table in design notes [ai:gemini]
  README.md
  templates/design-notes/README.md
  templates/design-notes/YYYY-MM-DD.TODO.design-note-template.md
Due: markdown-link-check

doc: complete pre-commit context
  README.md
Due: markdown-link-check

chore: install mermaid-cli into dev env
  devenv.nix
Due: nixfmt

doc: add multi-account 1Password example to envrc template [ai:claude]
  templates/.envrc.local.example
Due: none

doc: note CLAUDE.md and GEMINI.md symlink to AGENTS.md [ai:claude]
  templates/AGENTS.md
Due: markdown-link-check

feat: add CONTRIBUTING.md template with commit and scope conventions [ai:claude]
  templates/CONTRIBUTING.md
Due: markdown-link-check

doc: delegate commit rules to CONTRIBUTING.md, strengthen HITL, add provenance [ai:claude]
  templates/AGENTS.md
Due: markdown-link-check

doc: add CONTRIBUTING.md to project setup cp commands [ai:claude]
  PROJECT_SETUP_GUIDE.md
Due: markdown-link-check

doc: record decisions/ consolidation exploration and resolved design [ai:claude]
  docs/design-notes/2026-06-04.TODO.decisions-dir-consolidation.md
Due: markdown-link-check

doc: finalize decision with new frontmatter schema and ticket refs [ai:claude]
  docs/design-notes/2026-06-04.TODO.decisions-dir-consolidation.md
Due: markdown-link-check

feat: replace decision template with unified format [ai:claude]
  templates/decisions/0000-decision-template.md
  templates/decisions/YYYY-MM-DD.TODO.decision-template.md
Due: markdown-link-check

doc: rewrite decisions README for unified format [ai:claude]
  templates/decisions/README.md
Due: markdown-link-check

refactor: remove design-notes template, update decisions archive [ai:claude]
  templates/decisions/ARCHIVE/README.md
  templates/design-notes/ARCHIVE/README.md
  templates/design-notes/README.md
  templates/design-notes/YYYY-MM-DD.TODO.design-note-template.md
Due: markdown-link-check

doc: update setup guide and AGENTS.md for single decisions/ directory [ai:claude]
  PROJECT_SETUP_GUIDE.md
  templates/AGENTS.md
Due: markdown-link-check

doc: mark filename convention as superseded in tagging strategy note [ai:claude]
  docs/design-notes/2025-09-08.DONE.documentation-discovery-and-tagging-strategy.md
Due: markdown-link-check

refactor: migrate docs/design-notes/ to docs/decisions/ with new format [ai:claude]
  docs/decisions/0001-documentation-discovery-and-tagging-strategy.md
  docs/decisions/0002-decisions-dir-consolidation.md
Due: markdown-link-check

feat: add CHANGELOG.md with rolling dated entries and migration guides [ai:claude]
  CHANGELOG.md
Due: markdown-link-check

feat: add CHANGELOG.md template for downstream projects [ai:claude]
  CHANGELOG.md
  PROJECT_SETUP_GUIDE.md
  templates/CHANGELOG.md
Due: markdown-link-check

refactor: commit .envrc directly, drop .envrc.example pattern [ai:claude]
  CHANGELOG.md
  PROJECT_SETUP_GUIDE.md
  README.md
  templates/.envrc
  templates/.gitignore.example
  templates/README.md
Due: markdown-link-check

feat: migrate engineering skills from dotfiles to KB repo [ai:claude]
  CHANGELOG.md
  skills/README.md
  skills/commenting/SKILL.md
  skills/commitmsg/SKILL.md
  skills/designnote/SKILL.md
  skills/linearissue/SKILL.md
  skills/pairprog/SKILL.md
  skills/pr/SKILL.md
Due: markdown-link-check

doc: pairprog maintains status log on decision record edits [ai:claude]
  skills/pairprog/SKILL.md
Due: markdown-link-check

doc: pairprog maintains status log on decision record edits [ai:claude] (#35)
  skills/pairprog/SKILL.md
Due: markdown-link-check

feat: prepend ticket ID to PR titles for squash-merge traceability [ai:claude]
  skills/pr/SKILL.md
Due: markdown-link-check

feat: merge strategy awareness for /pr skill [ai:claude]
  skills/pr/SKILL.md
Due: markdown-link-check

doc: pairprog delegates merge strategy to /pr skill [ai:claude]
  skills/pairprog/SKILL.md
Due: markdown-link-check

KB-10: Traceable merges with repo-convention awareness (#36)
  skills/pairprog/SKILL.md
  skills/pr/SKILL.md
Due: markdown-link-check

fix: use gh CLI for PR creation to preserve newline formatting [ai:claude]
  skills/pr/SKILL.md
Due: markdown-link-check

fix: use gh CLI for PR creation to preserve newline formatting [ai:claude] (#37)
  skills/pr/SKILL.md
Due: markdown-link-check

feat: out-of-context readability test for title quality gates [ai:claude]
  skills/linearissue/SKILL.md
  skills/pr/SKILL.md
Due: markdown-link-check

feat: out-of-context readability test for title quality gates [ai:claude] (#38)
  skills/linearissue/SKILL.md
  skills/pr/SKILL.md
Due: markdown-link-check

doc: sub-issue vs dependency rule in linearissue classification [ai:claude]
  skills/linearissue/SKILL.md
Due: markdown-link-check

doc: extend anti-pattern to cover sub-issue misuse [ai:claude]
  skills/linearissue/SKILL.md
Due: markdown-link-check

doc: decomposition-vs-dependency awareness in designnote action items [ai:claude]
  skills/designnote/SKILL.md
Due: markdown-link-check
